<div class="list-entry go-package-update" id="{{.Repo.Root}}" style="position: relative;">
	<div class="list-entry-header">
		<span title="{{.Repo.ImportPathPattern}}">
			{{if .Presentation.Home}}
				<a href="{{.Presentation.Home}}" target="_blank"><strong>{{.Repo.ImportPathPattern}}</strong></a>
			{{else}}
				{{.Repo.ImportPathPattern}}
			{{end}}
		</span>

		{{if (not .Updated)}}<div style="float: right;">
			{{if updateSupported}}
				<a href="/-/update" onclick="UpdateRepository(event, '{{.Repo.Root | json}}');" class="update-button" title="go get -u -d {{.Repo.ImportPathPattern}}">Update</a>
			{{else}}
				<span style="color: gray; cursor: default;" title="Updating repos is not currently supported for this source of repos.">Update</span>
			{{end}}
		</div>{{end}}
	</div>
	<div class="list-entry-body">
		<img style="float: left; border-radius: 4px;" src="{{.Presentation.Image}}" width="36" height="36">

		<div>
			{{render (presentationchanges .)}}
			{{with .Presentation.Error}}
				<p class="presentation-error"><strong>Error:</strong> {{.}}</p>
			{{end}}
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
