body {
	font-family: Go;
	font-size: 14px;
	line-height: 1.428571429;
	margin: 0px;
}
header {
	background-color: hsl(209, 51%, 92%);
}
header span {
	background-color: hsl(209, 51%, 88%);
}
div.center-max-width {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
div.content {
	margin: 12px;
	margin-top: 20px;
	margin-bottom: 80px;
}
a, a span {
	color: #4183c4;
	text-decoration: none;
}
a:hover, a span:hover {
	text-decoration: underline;
}
h2 {
	margin-top: 40px;
	margin-bottom: 40px;
}

div.list-entry {
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-bottom: 12px;
}
div.list-entry-header {
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #eee;
}
div.list-entry-body {
	padding: 10px;
}
.changes-list {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 64px;
}
.presentation-error {
	white-space: pre-wrap;
	margin-bottom: 0px;
	padding-left: 64px;
}

.highlight-on-hover a {
	color: gray;
}
.highlight-on-hover {
	float: right;
	opacity: 0.25;
}
li:hover .highlight-on-hover {
	opacity: 1.0;
}

.commitID {
	font-family: "Go Mono";
	background-color: rgb(238, 238, 238);
	padding: 1px 4px;
}

@media (prefers-color-scheme: dark) {
	body {
		color: white;
		background-color: hsl(210, 15%, 22%);
	}
	header {
		background-color: hsl(209, 51%, 21%);
	}
	header span {
		background-color: hsl(209, 51%, 16%);
	}
	div.list-entry {
		border-color: hsl(210, 15%, 32%);
	}
	div.list-entry-header {
		border-color: hsl(210, 15%, 28%);
	}
	div.list-entry-header {
		background-color: hsl(210, 15%, 18%);
	}
	.highlight-on-hover a {
		color: #ddd;
	}
	.commitID {
		background-color: hsl(210, 15%, 32%);
	}
}
