<div class="list-entry go-package-update" id="{{.Repo.ImportPathPattern}}" style="position: relative;">
	<div class="list-entry-header">
	{{/* TODO: Make this simpler. */}}
	{{if eq (len .Repo.GoPackages) 1}}
		<span title="{{.Repo.ImportPaths}}">
			{{if .HomePage}}
				<a href="{{.HomePage}}" target="_blank"><strong>{{(index .Repo.GoPackages 0).Bpkg.ImportPath}}</strong></a>
			{{else}}
				{{(index .Repo.GoPackages 0).Bpkg.ImportPath}}
			{{end}}
		</span>
	{{else}}
		<span title="{{.Repo.ImportPaths}}">
			{{if .HomePage}}
				<a href="{{.HomePage}}" target="_blank"><strong>{{.Repo.ImportPathPattern}}</strong></a>
			{{else}}
				{{.Repo.ImportPathPattern}}
			{{end}}
			<span class="smaller">({{len .Repo.GoPackages}} packages)</span>
		</span>
	{{end}}

		<div style="float: right;">
			{{if true}}
				<a href="javascript:void(0)" onclick="update_go_package('{{.Repo.ImportPathPattern}}');" class="update-button" title="go get -u -d {{.Repo.ImportPathPattern}}">Update</a>
			{{else}}
				<span class="disabled">Updating...</span>
			{{end}}
		</div>
	</div>
	<div class="list-entry-body">
		<img style="float: left; border-radius: 4px;" src="{{.Image}}" width="36" height="36">

		<div>
			{{if .Changes}}
				<ul class="changes-list">
					{{range .Changes}}<li>{{.Message}}<span class="highlight-on-hover smaller">{{template "comments" .Comments}} <a href="{{.Url}}" target="_blank">Commit</a></span></li>
					{{end}}
				</ul>
			{{else}}
				<div class="changes-list">
					unknown changes from {{(index .Repo.GoPackages 0).Dir.Repo.VcsLocal.LocalRev}} to {{(index .Repo.GoPackages 0).Dir.Repo.VcsRemote.RemoteRev}}
				</div>
			{{end}}
		</div>
		<div style="clear: both;"></div>
	</div>
</div>

{{define "comments"}}
	{{if .Count}}
		<a href="{{.Url}}" target="_blank"><span class="octicon octicon-comment smaller">{{.Count}}</span></a>
	{{end}}
{{end}}
